@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #282C33;
}

.custom-select {
    width: 40px;
    background-color: #282C33;
    border-color: #282C33;
    color: #ABB2BF;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
    text-align: center;
    text-align-last: center;
  }

  .custom-select option {
    padding: 20px 2px 2px;
    background-color: #282C33;
    border: none;
    border-radius: 0;
    color: #ABB2BF;
    outline: none;
    box-shadow: none;
    text-align: center;
    text-align-last: center;
  }

.animated-button {
  position: relative;
  overflow: hidden;
}

.animated-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #C778DD; 
  transition: width 0.5s ease;
  z-index: 0;
}

.animated-button:hover::before {
  width: 100%;
}

.animated-button:hover .button-text {
  color: rgb(0, 0, 0);
}

.button-text {
  position: relative;
  z-index: 10;
  transition: color 0.5s ease;
}